*.a
*.o
*.pb.cc
*.pb.h
.deps
Makefile
Makefile.in
/test-driver
*.log
*.trs

/INSTALL
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing
/koho-*.tar.gz
/stamp-h1

/compile
/src/frontend/koho-client
/src/frontend/koho-server
/src/tcp_splitter/split-tcp-packet-test
