*.a
*.o
*.lo
*.la
*.slo
*.pb.cc
*.pb.h
.deps
Makefile
Makefile.in

/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing
/mahimahi-*.tar.gz
/stamp-h1
/libtool
/ltmain.sh

/compile
/src/frontend/koho-client
/src/frontend/koho-server
/src/frontend/.libs
